@import "../shared/_variables.scss";

$localColor: (
  nameColor: #b1e5f2,
  occupColor: aliceblue,
  pColor: #6fffe9
);

.background-overlay {
  position: absolute;
  left: 10%;
  height: 100vh;
  width: 25%;
  z-index: 8;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    to right,
    map-get($colors, themeColor) 11%,
    rgba(11, 19, 43, 1) 100%
  );

  #introduction-section {
    color: map-get($colors, pinkAccent);
    z-index: 10;
    position: absolute;
    font-size: 2.5vmax;
    min-width: 18rem;
    top: 20%;
    left: 60%;
    opacity: 1;
    h1 {
      font-family: $headingFont;
      padding-right: 1rem;
      white-space: nowrap;
      span {
        color: map-get($localColor, nameColor);
        font-family: $emphFont;
        text-decoration: underline;
        text-underline-position: under;
      }
    }

    p {
      overflow: hidden;
      margin-top: 0.3rem;
      font-family: $infoFont;
      white-space: nowrap;
      letter-spacing: 0.1rem;
      font-size: 1.2vmax;
      font-weight: 400;
      color: map-get($localColor, occupColor );
    }
  }

  #shadow-text-section {
    height: 100vh;
    width: 60%;
    position: relative;
    left: 1rem;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-size: 11.5vmax;
      color: rgb(111 151 233 / 5%);
      letter-spacing: 3px;
      position: absolute;
      font-family: $infoFont;
      transform: rotate(-90deg);
    }
  }
  #contact-info-section {
    display: none;
  }
  #about-section {
    text-align: left;
    text-overflow: wrap;
    padding: 1rem;
    width: 70%;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: showIntro 2s ease-in-out forwards;
    * {
      letter-spacing: $defaultLetterSpacing;
    }
    h3 {
      color: map-get($colors, info);
      font-family: $headingFont;
    }

    p {
      margin: 0.5rem 0;
      color: #6fffe9;
      font-family: $infoFont;
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 320px) {
  #about-section {
    padding: 0.5rem !important;
  }

  #introduction-section {
    font-size: 1rem !important;
  }
}

@media (max-width: 420px) {
  .background-overlay {
    all: initial;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    #shadow-text-section {
      display: none;
    }

    #introduction-section {
      all: initial;
      color: $ticklePink;
      font-size: 1.5rem;
      margin-top: 1.5rem;
      display: flex;
      min-width: 15rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      p {
        font-size: 1rem !important;
      }
    }

    #contact-info-section {
      all: initial;
      width: 100%;
      height: 4rem;
      position: relative;
      margin: 0.3rem;
      display: block;
    }

    #about-section {
      all: initial;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0.5rem;

      h3 {
        display: none;
      }
    }
  }
}


@media (min-width: 1500px), (min-height: 1585px) {
  .background-overlay {
    #introduction-section {
      min-width: 23vmax;
    }
    #about-section {
      h3 {
        font-size: 2vmax;
      }
      p {
        font-size: 1.1vmax;
      }
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 978px) {
  .background-overlay {
    left: 0;
    width: 35%;
    #shadow-text-section {
      p{
        font-size: 18vmax;
      }
    }
  }
}

@keyframes showIntro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}