@import url("https://fonts.googleapis.com/css2?family=Sacramento&family=Great+Vibes&family=Julius+Sans+One&family=Roboto:wght@200&family=Montserrat&family=Anton&family=Dancing+Script:wght@700&family=Poppins:wght@100&display=swap");

$infoFont: 'Roboto', sans-serif;
$headingFont:  'Julius Sans One', sans-serif;
$emphFont: "Sacramento", cursive;
$ticklePink: #FF299C;
$cornFlowerBlue: #6f97e9;
$redPink: rgba(224, 26, 79, 1);
$darkPurple: rgba(95, 26, 55, 0.9);
$defaultLetterSpacing: 0.15rem;
