@import "../shared/variables";

$chartColors: #068dcb, #2a855e, #ff6a00, #1C2541, #a52d3d;
@for $i from 1 through length($chartColors) {
  $chartColors: append($chartColors, darken(nth($chartColors, $i), 10));
}
$chartColorsLength: length($chartColors);

* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  scroll-snap-align: start;
  background: #1d2a58;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-dodge;

  .btn {
    background: transparent;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    border-bottom: 0.5rem solid rgba(255, 255, 255, 0.5);
    border-left: 0.5rem solid rgba(255, 255, 255, 0.5);
    outline: none;

    &:hover {
      border-bottom: 0.5rem solid #fff;
      border-left: 0.5rem solid #fff;
    }
  }
  .scroll-right {
    margin-right: 0.2rem;
    transform: rotate(45deg);
  }
  .scroll-left {
    margin-left: 0.6rem;
    transform: rotate(225deg);
  }
  .experience-section {
    border-radius: 15px;
    display: grid;
    grid-template-rows: 5% 15% 55% auto;
    row-gap: 0.3rem;
    width: 40%;
    min-height: 70%;
    max-height: 85%;
    z-index: 5;
    position: relative;
    top: 2rem;
    opacity: 1;

    .company-info {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      grid-row: 2;
      background: linear-gradient(45deg, #7AE7C7, #3F88C5);
      box-sizing: border-box;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      font-family: $headingFont;
      // box-shadow: 0 -2px 10px rgba(47, 63, 110, 0.7);
      box-shadow: 4px -7px 9px 1px rgba(157, 141, 241, 0.2);

      h3 {
        text-align: start;
        color: #C62E65;
      }
      h5 {
        text-align: end;
      }
    }

    .work-experience {
      grid-row: 3;
      background: url(../../assets/experience-background.jpg) no-repeat, #1C2541;
      background-blend-mode: multiply;
      background-size: cover;
      background-position: top;
      position: relative;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(0, 0, 0, 0.5);
      display: flex;
      overflow-y: auto;
      flex-direction: column;
      justify-content: center;
      padding: 0.2rem;
      color: #1c2541;
      * {
        margin-left: 1rem;
        // line-height: 1.2rem;
        letter-spacing: 0.05rem;
      }
      h3 {
        font-size: 1.4rem;
        margin-top: 0.8rem;
        color: #B8CDF8;
        font-family: $infoFont;
        text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.4);
      }
      li {
        
      margin: 0.5rem 0;
      color: #6FFFE9;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8rem;
      // letter-spacing: $defaultLetterSpacing;
      }

      .btn {
        position: absolute;
        right: 10px;
        display: none;
        top: 10px;

        &.scroll-right {
          margin-right: 1rem;
        }
      }
    }

    .technology-used {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      grid-row: 4;
      background: linear-gradient(45deg, #7AE7C7, #3F88C5);
      box-shadow: 4px 7px 9px 1px rgba(157, 141, 241, 0.2);
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      font-family: $headingFont;
      color: white;
      app-badge:first-child {
        margin-left: 0.5rem;
      }
      app-badge {
        margin: 0.2rem 0.1rem;
        @for $i from 1 through $chartColorsLength {
          &:nth-of-type(#{$chartColorsLength}n+#{$i})::ng-deep .badge-container  {
            background-color: lighten($color: nth($chartColors, $i), $amount: 20%) ;
            .badge-content {
              background-color: nth($chartColors, $i);
            }
          }
        }
        h5 {
          font-size: 0.7rem;
        }
        &::ng-deep .badge-container{
          padding: 0;
          .badge-content {
            box-shadow: 0 0 2px 1px rgba(0,0,0, 0.1);
          }
        }
      }
    }

    .timeline {
      grid-row: 1;
      position: relative;
      border-top: 0.2rem solid #7AE7C7;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      h5 {
        position: absolute;
        color: white;
        font-family: $headingFont;
        width: 5rem;
        text-align: end;
        transform: translateY(-180%);
      }

      h5.from {
        left: -15px;
      }

      h5.to {
        right: 0px;
      }
      &::before {
        content: "";
        position: absolute;
        box-sizing: border-box;
        width: 1rem;
        height: 1rem;
        border-radius: 2rem;
        border: 0.2rem solid #7AE7C7;
        background: #1d2a58;
        left: 5px;
        transform: translateY(-60%);
      }
      &::after {
        content: "";
        position: absolute;
        box-sizing: border-box;
        width: 1rem;
        height: 1rem;
        border-radius: 2rem;
        border: 0.2rem solid #7AE7C7;
        background: #1d2a58;
        right: 5px;
        transform: translateY(-60%);
      }
    }
  }

}

@media (max-width: 780px ) and (min-width : 421px){
  .container {
    .btn {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      display: flex;
      &.scroll-right {
        margin-left: 2rem;
        transform: translateX(-50%) rotate(225deg);
      }
      
      &.scroll-left {
        margin-left: -2rem;
        transform: translateX(-50%) rotate(45deg);
      }
    }
    .experience-section {
      width: 90%;
    }
  }
}

@media (max-width: 420px ){
  .container {
    .btn {
      display: none;
    }
    align-items: flex-start;
    .experience-section {
      top: 10%;
      width: 90%;
      .work-experience {
        .btn {
          display: initial;
        }
      }
    }
  }
}
