@import "../shared/variables";

$localColors: (
  mainAccent: #415595,
  navigationColor: #927cd4,
  bg: #B9D6F2,
  secondaryAccent: rgb(183, 171, 219),
  opaqueSecondaryAccent: rgba(183, 171, 219, 0.7),
);

@mixin timeLine {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  border: 0.2rem solid map-get($localColors, mainAccent);
  background: map-get($localColors, bg);
}

* {
  box-sizing: border-box;
}
.container {
  @include fullContainer(relative);
  @include flexContainer(center, center, initial, wrap, row);
  scroll-snap-align: start;
  background: map-get($localColors, bg);
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    display: none;
  }
  .img-section {
    position: relative;
    left: -2rem;
    width: 45%;
    height: 55%;
    z-index: 2;
    display: none;
  }
  .btn {
    background: transparent;
    border: none;
    width: 2vmax;
    height: 2vmax;
    border-bottom: 0.4vmax solid map-get($localColors, navigationColor);
    border-left: 0.4vmax solid map-get($localColors, navigationColor);
    outline: none;

    &:hover {
      border-bottom: 0.4vmax solid map-get($localColors, mainAccent);
      border-left: 0.4vmax solid map-get($localColors, mainAccent);
    }
  }
  .scroll-right {
    margin-right: 0.2rem;
    transform: rotate(45deg);
  }
  .scroll-left {
    margin-left: 0.2rem;
    transform: rotate(225deg);
  }
  .experience-section {
    border-radius: 15px;
    display: grid;
    grid-template-rows: 5% 15% 55% auto;
    row-gap: 0.3rem;
    width: 67%;
    min-height: 70%;
    max-height: 85%;
    z-index: 5;
    position: relative;
    top: 2rem;
    opacity: 1;

    .company-info {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      grid-row: 2;
      background: map-get($colors, themeColor);
      padding: 0.5rem;
      @include flexContainer(space-between, center, initial, initial, row);
      color: map-get($colors, info);
      font-family: $headingFont;
      text-transform: uppercase;
      box-shadow: -2px -2px 5px blackWithOpacity(0.3), 2px -2px 5px blackWithOpacity(0.3);

      h3 {
        text-align: start;
        color: map-get($localColors, secondaryAccent);
      }
      h5 {
        text-align: end;
      }
    }

    .work-experience {
      grid-row: 3;
      background: map-get($localColors, opaqueSecondaryAccent);
      position: relative;
      box-shadow: 0px 0px 5px blackWithOpacity(0.5);
      @include flexContainer(center, initial, initial, initial, column);
      overflow-y: auto;
      padding: 0.2rem;
      color: map-get($colors, themeColor);
      * {
        margin-left: 1rem;
        letter-spacing: 0.05rem;
      }
      h3 {
        font-size: 1.4rem;
        margin-top: 0.8rem;
        color: map-get($localColors, mainAccent);
        font-family: $infoFont;
      }
      li {
        margin-top: 0.5vmax;
        color: map-get($colors, themeColor);
        font-family: "Lato";
        font-size: 0.8rem;
      }

      .pageNo {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-family: "Lato";
        font-size: 0.8rem;
        color: map-get($localColors, mainAccent);
      }

      .btn {
        position: absolute;
        right: 10px;
        display: none;
        top: 10px;
        &.scroll-right {
          margin-right: 1rem;
        }
      }
    }

    .technology-used {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      grid-row: 4;
      background: map-get($colors, themeColor);
      box-shadow: -2px 3px 5px blackWithOpacity(0.5), 2px 3px 5px blackWithOpacity(0.5);
      @include flexContainer(initial, center, center, wrap, row);
      font-family: $headingFont;
      text-transform: uppercase;
      color: map-get($colors, info);
      padding-left: 0.5rem;
      app-badge {
        margin: 0.2rem 0.1rem;
        @for $i from 1 through $chartColorsLength {
          &:nth-of-type(#{$chartColorsLength}n + #{$i})::ng-deep
            .badge-content {
              background-color: nth($chartColors, $i);
            }
        }
        h5 {
          font-size: 0.7rem;
        }
        &::ng-deep .badge-container {
          padding: 0;
          .badge-content {
            box-shadow: 0 0 2px 1px blackWithOpacity(0.1);
          }
        }
      }
    }

    .timeline {
      grid-row: 1;
      position: relative;
      border-top: 0.2rem solid map-get($localColors, mainAccent);
      @include flexContainer(space-between, flex-end, initial, initial, column);
      h5 {
        position: absolute;
        color: map-get($localColors, mainAccent);
        font-family: $headingFont;
        text-transform: uppercase;
        width: 5rem;
        text-align: end;
        transform: translateY(-180%);
      }

      h5.from {
        left: -15px;
      }

      h5.to {
        right: 0px;
      }
      &::before {
        @include timeLine();
        left: 5px;
        transform: translateY(-60%);
      }
      &::after {
        @include timeLine();
        right: 5px;
        transform: translateY(-60%);
      }
    }
  }
}

@media (max-width: 780px) {
  .container {
    .btn {
      display: none;
    }
    .experience-section {
      width: 90%;
      .work-experience {
        .btn {
          display: initial;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .container {
    align-items: flex-start;
    .experience-section {
      top: 10%;
      width: 90%;
      .company-info {
        h3 {
          font-size: 1rem;
        }
      }
      .work-experience {
        h3 {
          font-size: 1rem;
        }
        li {
          font-size: 0.7rem;
        }
      }

      .technology-used {
        app-badge {
          h5 {
            font-size: 0.55rem !important;
          }
        }
      }
    }
  }
}

@media (min-width: 1380px) {
  .experience-section {
    .company-info {
      h3 {
        font-size: 1.4vmax;
      }
      h5 {
        font-size: 1.1vmax;
      }
    }
    .work-experience {
      h3 {
        font-size: 1.4vmax !important;
      }
      li {
        font-size: 0.9vmax !important;
      }
    }

    .timeline {
      h5 {
        width: 5vmax !important;
        font-size: 0.9vmax !important;
      }
    }

    .technology-used {
      app-badge {
        h5 {
          font-size: 1vmax !important;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    .wave {
      display: initial;
    }
    .img-section {
      display: initial;
    }
    .experience-section {
      width: 40%;
    }
  }
}
