@import "../shared/_variables.scss";

$iconBoxShadow: 0 0 7px 7px rgba(255 , 255, 255, 0.4);

.contactInfo {
    width: 100%;
    height: 100%;
    position: relative;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 12;
    cursor: pointer;
    .btn {
      margin: 1rem;
      width: auto;
      height: auto;
      border: 0 solid white;
      border-radius: 1rem;
      padding: 0.2rem 0.4rem;
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: space-between;
      transition: all 0.2s ease-in-out;
      span.icon {
        width: 3vmax;
        height: 3vmax;
        border-radius: 50%;
        border: 4px solid white;
        box-shadow: $iconBoxShadow;
        background-position: center !important;
        background-size: contain !important;
      }


      span.resumeIcon {
        animation: emphasize 0.8s infinite ease-in-out;
      }

      .iconText {
        color: white;
        font-weight: 600;
        margin: 0 0.2rem;
        font-size: 1.2vmax;
        display: none;
        font-family: $infoFont;
      }

      &:first-child {
        margin-left: auto;
      }


    }
  }

  @media (max-width: 420px) {
    .contactInfo  {
        justify-content: center;
        width: 98%;
        right: initial;

        .btn {
          margin: 0;

          span.icon {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
          }

          &:first-child {
            margin: 0;
          }

        }
    }
  }


  @keyframes emphasize {
    0% {
      box-shadow: 0 0 0 0 rgba(255 , 255, 255, 0.4);
    }
    100% {
      box-shadow: $iconBoxShadow;
    }
  }

  @media (min-width: 1300px) , (min-height: 900px){
    .contactInfo {
      .btn {
        span.icon {
          width: 4.5vmax;
          height: 4.5vmax;
        }
      }
    }
  }

  @media(hover:hover) and (pointer: fine) {
    .contactInfo .btn:hover {
        border-radius: 1rem;
        border: 2px solid white;
        box-shadow: 0 0 4px 3px rgba(255 , 255, 255, 0.4);
        span.icon {
          box-shadow: initial;
          animation: none;
          width: 2.5vmax;
          height: 2.5vmax;
        }
        .iconText {
          display: initial;
        }
      }
  }