.mainContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    overflow-x: hidden;
    
    scroll-snap-type: y mandatory;
    
    scroll-snap-stop: always;
    app-about-me {
      width: 100%;
      height: 100%;
    }
  
    app-skills {
      width: 100%;
      height: auto;
    } 
    app-experience-section {
      width: 100%;
      height: 100%;
    }

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #2271ab;
      border-radius: 16px;
    }
  }
  
  @media (max-width: 420px) {
    .navbar {
      display: none;
    }
    .mainContainer {
      scroll-snap-type: none;
      scroll-snap-stop: initial;
    }
  }