@font-face {
    font-family: 'Sacramento', 'Times New Roman', Times, serif;
    src: url('../../fonts/Sacramento-Regular.woff2') format('woff2'),
      url('../../fonts/Sacramento-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    src: url('../../fonts/Montserrat-Light.woff2') format('woff2'),
      url('../../fonts/Montserrat-Light.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Lato', 'Times New Roman', Times, serif;
  src: url('../../fonts/Lato-Regular.woff2') format('woff2'),
    url('../../fonts/Lato-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../../fonts/Roboto-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Julius Sans One', 'Times New Roman', Times, serif;
  src: url('../../fonts/JuliusSansOne-Regular.woff2') format('woff2'),
    url('../../fonts/JuliusSansOne-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}